<div class="alert hide" role="alert">
  <ul></ul>
</div>
<div class="field">
  <label>Title:</label>
  <input type="text" name="title" value="<%= story.get("title") %>">
</div>

<div class="field">
  <label>Description:</label>
  <input type="text" name="description" value="<%= story.get("description") %>">
</div>

<div class="field">
  <label>Story Instagram hashtag:</label>
  <input type="text" name="hashtag" value="<%= story.get("hashtag") %>">
</div>

<div class="actions">
  <button><%= action %></button>
</div>

<a href="/#stories">Back</a>