<div class="story-user-profile">
   <img src="<%= story.get("user").profile_picture %>">

   <h2><%= story.get("user").fullname %></h2>
   <h2><%= story.get("user").nickname %></h2>

</div>
<div class="story-description">
   <h1><%= story.get("title") %></h1>

   <div>
      <p><%= story.get("description") %></p>
   </div>

   <h2>This Stories' Instagram Hashtag:</h2>
   <h3><%= story.get("hashtag") %></h3>

   <a class="delete" href="/#stories/<%= story.get("id") %>/delete">Delete</a>
   <a class="edit" href="/#stories/<%= story.get("id") %>/edit">Edit</a>
</div>

<% images = _.sortBy(story.get("images"), function(image){ image.uploaded_at }) %>
<div class="story-images">
   <% _.each(images, function(image){ %>
   <div class="grid-items">
      <a href="/#images/<%= image.id %>" class="grid-item">
         <img src="<%= image.picture %>">
         <p><%= image.title %></p>
      </a>
      <% }); %>
   </div>
</div>


<!-- <a class="edit" href="/#images/<#%= image.id %>/edit">Edit</a>
<a class="delete-image" data-image-id="<#%= image.id %>" href="/#images/<#%= image.id %>/delete">X</a> -->