<h1><%= story.get("title") %></h1>

<p>
   <b>Description:</b>
   <%= story.get("description") %>
</p>

<p>
   <b>Owner:</b>
   <%= story.get("user").fullname %>
</p>

<p>
   <b>This Stories' Instagram Hashtag:</b>
   <%= story.get("hashtag") %>
</p>

<p>
   <b>Images:</b>
   <% images = _.sortBy(story.get("images"), function(image){ image.uploaded_at }) %>
   <% _.each(images, function(image){ %>
   <ul>
      <li>
         <p><%= image.title %></p>
      </li>
      <li>
         <a href="/#images/<%= image.id %>">
            <img src="<%= image.picture %>">
         </a>
      </li>
      <li>
         <a class="edit" href="/#images/<%= image.id %>/edit">Edit</a>
      </li>
      <li>
         <a class="delete-image" data-image-id="<%= image.id %>" href="/#images/<%= image.id %>/delete">X</a>
      </li>
   </ul>
   <% }); %>
</p>

<a class="delete" href="/#stories/<%= story.get("id") %>/delete">Delete</a>
<a class="edit" href="/#stories/<%= story.get("id") %>/edit">Edit</a>
<a href="/#stories">Back</a>