<div class="welcome">
  <div class="welcome-header">
    <h1>Your trip on <a href="/#"><span>InstaStory</span></a></h1>
  </div>
  <div class="welcome-main">
    <div class="images">
      <img src="https://files.slack.com/files-pri/T0351JZQ0-F06GXDJ7M/filippo.png">
    </div>

    <p><span>InstaStory</span> is set to revolutionize the way that <a target="_blank" href="http://www.instagram.com">Instagram</a> works for the better so that users can save their favourite images as well as organising them by hashtags and create albums that friends and family can use to experience their adventures.</p>
    <p>Version 1.0</p>
    <p>Version 2.0 (coming soon to you)</p>
  </div>
</div>
