.welcome {
  .welcome-header {
    // padding: 20px;
    // background-color: #D9CDBC;
    // border-radius: 5px;
    // box-shadow: 1px 3px 6px darken(#D9CDBC, 60%);
    width: 100% !important;
    margin: 0 auto;
    h1 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 0 !important;
      padding-bottom: 5px;
      font-family: 'Monserrat', sans-serif;
      font-weight: 300;
      span {
        font-size: 55px;
        font-family: 'Kaushan Script', cursive;
        text-shadow: 0 2px 4px lighten(black, 10%);
        color: white;
      }
    }
  }

  .welcome-main {
    padding: 20px;
    p {
      max-width: 720px;
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 40px;
    }
    .images {
      text-align: center;
      img {
        max-width: 65 0px;
      }
    }
  }
}