<div class="edit">
  <hr>
  <h1>Edit Image Info</h1>
  <h2>Use this form to edit an image from the <a href="/#images/<%= image.get("story").id %>"><%= image.get("story").title %></a> story. You may change the images Title, Tags and Uploaded at date.</h2>
  <hr>
  <img src="<%= image.get("picture") %>">
  <div class="form">
    <div class="field">
     <label>Title:</label>
     <input type="text" name="title" value="<%= image.get("title") %>">
   </div>
   <div class="field">
     <label>Instagram Tags:</label>
     <input type="text" name="tags" value="<%= image.get("tags") %>">
   </div>

   <div class="field">
     <label>Instagram Image Owner:</label>
     <input type="text" name="image_username" value="<%= image.get("image_username") %>">
   </div>

   <div class="field">
     <label>Uploaded At:</label>
     <input type="date" name="uploaded_at" value="<%= image.get("uploaded_at") %>">
   </div>

   <div class="actions">
     <button><%= action %></button>
   </div>
 </div>
</div>