<div class="image">
  <h1><%= image.get("title") %></h1>
  <img src="<%= image.get("picture") %>">
  <div class="info">
    <p>
      <b>Tags</b><br>
      <%= image.get("tags") %>
    </p>
    <p>
      <b>Instagram Image Owner</b><br>
      <%= image.get("image_username") %>
    </p>
    <p>
      <b>Uploaded At</b><br>
      <%= image.get("uploaded_at") %>
    </p>
  </div>

  <a class="delete" href="/#images/<%= image.get("id") %>/delete">Delete</a>
  <a class="edit" href="/#images/<%= image.get("id") %>/edit">Edit</a>
</div>