<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="/#" class="mobile-logo">
      <img src="http://icons.iconarchive.com/icons/icons8/ios7/512/Business-Collect-icon.png" alt="InstaStory">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="/#users">Users</a></li>
        <li class="nav-link more">
          <a href="/#stories">Stories</a>
          <% if(user.isLoggedIn()){ %>
          <ul class="submenu">
            <li><a href="/#stories/new">New Story</a></li>
          </ul>
          <% } %>
        </li>
        <li class="nav-link logo">
          <a href="/#" class="logo">
            InstaStory
          </a>
        </li>
        <li class="nav-link more">
          <a href="#">
            <% if(user.isLoggedIn()){ %>
            <div>
              <img src="<%= user.get("profile_picture") %>">
              @<%= user.get('nickname') %>
            </div>
            <% }else{ %>
            Register/Login
            <% } %>
          </a>
          <ul class="submenu" id="user-menu">
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  $(function() {
    var menuToggle = $('#js-centered-navigation-mobile-menu').unbind();
    $('#js-centered-navigation-menu').removeClass("show");
    
    menuToggle.on('click', function(e) {
      e.preventDefault();
      $('#js-centered-navigation-menu').slideToggle(function(){
        if($('#js-centered-navigation-menu').is(':hidden')) {
          $('#js-centered-navigation-menu').removeAttr('style');
        }
      });
    });
  });
</script>