body {
  margin: 0;
  font-family: 'Monserrat',Arial,Helvetica,sans-serif;
  main {
    margin: 0 auto;
    margin-top: 30px;
  }
}
#welcome {
  #welcome-header {
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    width: 100% !important;
    margin: 0 auto;
    #title {
      font-size: 40px;
      text-align: center;
      margin-bottom: 0 !important;
      font-family: 'Monserrat', sans-serif;
    }
  }

  #welcome-main {
    padding: 20px;
    p {

    }
  }
}