// USERS SHOW STYLING
#users-show {
  text-align: center;
  margin: 0 auto;
  #user-info {
    @include span-columns(12);
    h1 {
      margin-top: 15px;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
    }
    hr {
      margin: 0;
      max-width: 320px;
      margin: 0 auto;
    }
    #user-photo {
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
      img {
        border-radius: 8px;
      }
      a {
        padding: 5px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);
        &:hover {
          background-color: rgba(0,0,0,0.5);
          color: white;
        }
        &.delete {
          background-color: #c00;
          color: white;
          &:hover {
            background-color: #DD1F00;
            color: black;
          }
        }
      }
    }
  }
  #user-stories {
    @include span-columns(12);
    .user-stories-each {
      width: 460px;
      margin: 0 auto;
      margin: 2px;
      border-radius: 7px;
      a {
        font-size: 20px;
      }
      img {
        max-width: 103px;
        border: 1px solid white;
        border-radius: 2px;
      }
    }
  }
}