// USERS SHOW STYLING
#users-show {
  text-align: center;
  margin: 0 auto;
  #user-info {
    @include span-columns(12);
    h1 {
      margin-top: 15px;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
    }
    hr {
      margin: 0;
      max-width: 900px;
      margin: 0 auto;
    }
    #user-photo {
      width: 180px;
      margin: 0 auto;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
      img {
        border-radius: 8px;
      }
    }
  }
  #user-stories {
    @include span-columns(12);
    .user-stories-each {
      width: 460px;
      margin: 0 auto;
      margin: 2px;
      border-radius: 7px;
      a {
        font-size: 20px;
        font-weight: 700;
        &:hover {
          color: green;
        }
      }
      img {
        max-width: 103px;
        border: 1px solid white;
        border-radius: 2px;
      }
      .delete-story {
        font-size: 15px;
        padding: 3px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);
        color: red;
        &:hover {
          background-color: rgba(0,0,0,0.3);
          color: white;
        }
      }
    }
  }
}