<div class="users-index">
  <div class="cards">
    <% _.each(users, function(user){ %>
    <div class="card">
      <div class="card-image">
       <img src="<%= user.get("profile_picture") %>" alt="Profile Picture">
     </div>
     <div class="card-header">
       <a href="/#users/<%= user.get("id") %>"><h2><%= user.get("fullname") %></h2>
       </div>
       <div class="card-copy">
         <p><%= user.get("bio") %></p>
         <h3>Nº of Stories: <%= user.get("stories").length %></h3>
       </div>
     </div>
     <% }); %>
   </div>

 </div>