<div class="users-index">
  <div class="cards">
    <div class="card">
      <% _.each(users, function(user){ %>
      <div class="card-image">
       <img src="<%= user.get("profile_picture") %>" alt="Profile Picture">
     </div>
     <div class="card-header">
       <a href="/#users/<%= user.get("id") %>"><%= user.get("fullname") %>
       </div>
       <div class="card-copy">
         <p>
           <%= user.get("email") %> <br>
           <%= user.get("gender") %> <br>
           <%= user.get("age") %> <br>
         </p>
       </div>
       <% }); %>
     </div>
   </div>

 </div>