<h1>Book</h1>

<p>
 <img src="<%= user.get("profile_picture") %>">
</p>

<p>
   <b>Id:</b>
   <%= user.get("id") %>
</p>

<p>
   <b>Name:</b>
   <%= user.get("fullname") %>
</p>

<p>
   <b>Email:</b>
   <%= user.get("email") %>
</p>

<p>
   <b>Nickname:</b>
   <%= user.get("nickname") %>
</p>

<p>
   <b>Bio:</b>
   <%= user.get("bio") %>
</p>

<p>
   <b>Age:</b>
   <%= user.get("age") %>
</p>

<p>
   <b>Gender:</b>
   <%= user.get("gender") %>
</p>

<p>
   <b>Stories:</b>
   <% _.each(user.get("stories"), function(story){ %>
   <a href="/#stories/<%= story.id %>"><%= story.title %></a>
   <% }); %>
</p>

<a class="delete" href="/#users/<%= user.get("id") %>/delete">Delete</a>
<!-- <a class="edit" href="/#users/<%= user.get("id") %>/edit">Edit</a> -->
<a href="/#users">Back</a>