<div id="users-show">
   <div id="user-info">
      <h1>
         <%= user.get("fullname") %> <a href="http://instagram.com/<%= user.get("nickname") %>" target="_blank">@<%= user.get("nickname") %></a>
      </h1>
      <div id="user-photo">
         <p>
            <img src="<%= user.get("profile_picture") %>">
         </p>

         <!-- <a class="delete" href="/#users/<%= user.get("id") %>/delete">Delete</a> -->
         <!-- <a class="edit" href="/#users/<%= user.get("id") %>/edit">Edit</a> -->
      </div>

      <p>
         <%= user.get("bio") %>
      </p>

      <p>
         <b>Age:</b>
         <%= user.get("age") %>
      </p>
      <hr>
   </div>
   <div id="user-stories">
      <p>
         <% _.each(user.get("stories"), function(story){ %>
            <div class="user-stories-each tooltip-item">
               <a class="tooltip" href="/#stories/<%= story.id %>"><%= story.title %></a>
               <ul>
                  <li>
                     <img src="<%= story.images[Math.floor((Math.random() * 5) + 1)].picture %>">
                     <img src="<%= story.images[Math.floor((Math.random() * 5) + 15)].picture %>">
                     <img src="<%= story.images[Math.floor((Math.random() * 5) + 21)].picture %>">
                     <img src="<%= story.images[Math.floor((Math.random() * 10) + 5)].picture %>">
                     <a class="delete" href="/#stories/<%= story.id %>/delete">Delete</a>
                  </li>
               </ul>
            </div>
         <% }); %>
      </p>
   </div>
</div>