<div>
 <div>
   <h2>Sign up</h2>
   <div class="alert hide">
     <ul></ul>
   </div>
   <div class="form-group  well">
     <div class="form-group">
       <label>Email address</label>
       <input class="form-control" type="text" name="email" placeholder="email" />
     </div>
     <div class="form-group">
     <label>Full Name</label>
       <input class="form-control" type="text" name="fullname" placeholder="fullname" />
     </div>
     <div class="form-group">
     <label>Role</label>
       <input class="form-control" type="text" name="role" placeholder="role" />
     </div>
     <div class="form-group">
     <label>Age</label>
       <input class="form-control" type="text" name="age" placeholder="age" />
     </div>
     <div class="form-group">
     <label>Gender</label>
       <input class="form-control" type="text" name="gender" placeholder="gender" />
     </div>
     <div class="form-group">
     <label>Profile Picture</label>
       <input class="form-control" type="text" name="profile_picture" placeholder="profile_picture" />
     </div>
     <div class="form-group">
       <label>Password</label>
       <input class="form-control" type="password" name="password" placeholder="password" />
     </div>
     <div class="form-group">
       <label>Password confirmation</label>
       <input class="form-control" type="password" name="password_confirmation" placeholder="password confirmation" />
     </div>

     <div class="form-group">
       <button class="btn btn-default" id="signup">Sign up</button>
     </div>
   </div>
 </div>
</div>