  <!DOCTYPE html>
  <html>
  <head>
    <title>InstaStory</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "lib/require", "data-main" => asset_url("application.js") %>
    <%= csrf_meta_tags %>
    <script>
    window.authenticationToken = "<%= current_user.authentication_token if current_user %>"
    </script>
  </head>
  <body>
    <main></main>
  </body>
  </html>
